version: "3"
services:
  nginx:
    build: ./nginx
    ports:
      - 5050:80
      - 6600:79
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./app:/var/www/php
    depends_on:
      - php
      - angular

  php:
    image: php:7.2-fpm
    volumes:
      - ./php/:/usr/local/etc/php/
      - ./app:/var/www/php
    depends_on:
      - db

  angular:
    build: ./nginx/angular/my-portfolio
    environment:
      TZ: "Asia/Tokyo"
    depends_on:
      - db

  db:
    image: mysql:5.7
    ports:
      - 13306:3306
    volumes:
      - data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: passwd

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - 8888:80
    depends_on:
      - db
volumes:
  data:
